/*Escritorio*/
@media only screen and (max-width: 1023px){
	.hero-text-box{
		width: 100%;
		padding: 0 2%;
	}
	.row{
		padding: 0 2%;		
	}
}

/*Tablets y celulares grandes*/
@media only screen and (max-width: 1023px){
	body{
		font-size: 1.1em;
	}
	section{
		padding: 60px 0;
	}
	.long-copy{
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	.steps-box{margin-top: 10px;}
	.steps-box:last-child{margin-top: 10px;}
	.works-step{margin-bottom: 40px;}
	.works-step:last-of-type{margin-bottom: 80px;}
	.app-screen{width: 50%;}
	.icon-small{width: 0.8em;
				margin-right: 5px;
	}
	.city-feature{font-size: 90%;}
	.plan-box{
		width: 100%;
		margin-left: 0%;
	}
	.plan-price{font-size: 250%;}
	.contact-form{width: 80%;}
	.steps-box:first-child{
		text-align: center;
	}
	.app-screen{width: 40%;}

}


/*Celulares y tablets pequeñas*/
@media only screen and (max-width: 767px){
	body{font-size: 16px;}
	section{padding: 30px 0;}
	.row,.hero-text-box{padding: 0 4%;}
	.col{
		width: 100%;
		margin: 0 0 4% 0;
	}
	.main-nav{display: none;}
	h1{font-size: 180%;}
	h2{font-size: 150%;}
	.long-copy{
		width: 100%;
	}
	.works-step{margin-bottom: 20px;}
	.works-step:last-of-type{margin-bottom: 20px;}
	.works-step div{
	color: #e67e22;
	display: flex;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	padding: 4px;
	font-size: 120%;
}
}

@media only screen and (max-width: 480px){
	section{padding: 25px 0;}
	.contact-form{width: 100%;}
}