/*Globales*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1,h2,h3{
	font-weight: 300;
	text-transform: uppercase;
}
h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	font-weight: 300;
	word-spacing: 4px;
	letter-spacing: 1px;
}
h2{
	font-size: 1.8em;
	word-spacing: 2px;
	color:#000;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content:'';
	width: 100px;
	margin: 0 auto;
	margin-top:30px;
}

h3{
	font-size: 1.1em;
	margin-bottom: 15px;
}

section{
	padding: 80px 0;
}

.box{
	padding: 1%;
}

.box p{
	font-size: 0.9em;
	line-height: 145%;
}

/*Enlaces*/
a:link,
a:visited{
	color:#e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: all 0.8s ease;
}

a:hover,
a:active{
	color:#555;
	border-bottom: 1px solid transparent;
}
/*Inicio Header*/

header{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
}

.hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn:link,.btn:visited{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color:#fff;
	transition: all 0.8s ease-in-out;
}

.btn-full:link,.btn-full:visited{
	background-color: #e67e22;
	border:solid 1px #e67e22;
	margin-right: 15px;
}

.btn-ghost:link,.btn-ghost:visited{
	border:solid 1px #e67e22;
	color: #e67e22;
}


.btn:hover,.btn:active{
	background-color: #cf6d17;
}

.btn-full:hover,.btn-full:active{
	background-color: #cf6d17;
}

.btn-ghost:hover,.btn-ghost:active{
	border:solid 1px #cf6d17;
	color: #fff;
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
}

.main-nav li{
	display: inline-block;
	margin-right: 40px;
	margin-top: 40px;
}

.main-nav li a:link,.main-nav li a:visited{
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.9em;
	border-bottom: 2px solid transparent;
	transition: all 0.8s ease
}

.main-nav li a:hover,.main-nav li a:active{
	border-bottom: 2px solid #e67e22;
}
/*Fin Header*/

/*Sección principal*/
.long-copy{
	text-align: center;
	line-height: 1.4;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
/*Iconos*/
.icon-big{
	font-size: 3.5em;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
	text-align: center;
}
/*Fin Icono*/
/*Fin Sección principal*/

/*Sección galeria*/
.section-features .long-copy{
	margin-bottom: 30px;
}

.section-meals{
	padding: 0;
}

.meals-showcase{
	list-style: none;
	width: 100%;
}

.meals-showcase li{
	display: block;
	float: left;
	width: 25%;
}

.meal-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.meal-photo img{
	width: 100%;
	margin: 0;
	height: auto;
	transition: all .6s ease-in-out;
	filter: grayscale(100%);
	transform: scale(1.1);
}

.meal-photo img:hover{
	transform: scale(1.3);
	filter: grayscale(10%);
}
/*Fin Sección galeria*/

/*Sección suscribete*/
.section-steps{
	background: #f4f4f4;
}
.steps-box{
		margin-top: 30px;
	}
.steps-box:first-child{
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}
.steps-box:last-child{
	padding-left:3%;
	margin-top: 70px;
}
.app-screen{
	width: 40%;
}
.works-step{
	margin-bottom: 50px;
}
.works-step:last-of-type{
	margin-bottom: 80px;
}
.works-step div{
	color: #e67e22;
	border: 2px solid #e67e22;
	display: flex;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	justify-content: center;
	align-items: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}
.btn-app img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}		
.btn-app:link,.btn-app:visited{
	border: none;
}
/*Fin Sección suscribete*/

/*Seccion Ciudades*/
.box img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature{
	margin-bottom: 5px;
}
.icon-small{
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 10px;
	/*Alineacion de texto vertical*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
}

/*Fin Seccion Ciudades*/

/*Testimoniales*/
.section-testimonials{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("img/back-customers.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.section-testimonials h2{
	color:#fff;
}

blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before{
	content:"\201c";
	font-size: 5em;
	display: block;
	position: absolute;
	top: -5px;
	left: -3px;
}

cite{
	font-size: 0.9em;
	margin-top: 25px;
	display: block;
}


cite img{
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}
/*Fin Testimoniales*/